.css-12ttj6m.epcbefy1{
    background-color: #a3b097;
    color: rgb(0, 0, 0);


}
.css-15tx938.effi0qh3{
    font-size: 20px;
    text-color: rgb(0, 0, 0);
}

.css-1cpxqw2.edgvbvh5{
    font-size: 20px;
    text-color: rgb(0, 0, 0);
}

.stAlert{
    color: rgb(0, 0, 0);
}
#tyt{
    display:flex;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    text-color: rgb(0 0 0);
    text-align: center;
    padding: 1px;
    margin: 1px;
    border-radius: 10px;
    line-height: 1.2;
    border: 1px solid;
    background-color: rgb(156 190 208);

    }

#ayt{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    text-color: rgb(0 0 0);
    text-align: center;
    padding: 1px;
    margin: 1px;
    border-radius: 10px;
    line-height: 1.2;
    border: 1px solid;
    background-color: rgb(156 190 208);


}


.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bf.st-dv.st-b7{
background-color: rgb(0 0 0);
}